h1{
    text-align: center;
}
h1.name{
    display: none;
}

section h3{
    border-bottom: 2px solid #000;
}
section p.name{
    margin-bottom: 0px;
}
section p.title{
    font-size: 12px;
}
section dl dd{
    margin-left: 0px;
}

section div.job-info{
    margin-bottom: 40px;
}
section div.job-info:last-child{
    margin-bottom: 0px;
}
section div.job-info div.contributions p{
    margin-bottom: 0px;
}

section dl dd{
    margin-bottom: 10px;
}
section dl dd ul.skills li{
    float: left;
    width: 25%;
}
