<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <title>Wilson Collado</title>

        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="{% static 'css/print.css' %}" rel="stylesheet" media="print">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <div class="container">
            <header class="navbar navbar-inverse">
                <nav class="navbar-inner">
                    <a class="brand" href="/">Wilson Collado</a>
                    <ul class="nav">
                        <li><a href="http://www.twitter.com/colladow">Twitter</a></li>
                        <li><a href="http://www.github.com/colladow">Github</a></li>
                    </ul>
                    <a href="http://djangopony.com/" class="ponybadge pull-right" title="Magic! Ponies! Django! Whee!"><img src="http://media.djangopony.com/img/small/badge.png" width="120" alt="pony powered"></a>
                </nav>
            </header>

            {% block content %}{% endblock %}
        </div>

        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    </body>
</html>
